[submodule "pulp-trainlib"]
	path = pulp-trainlib
	url = https://github.com/pulp-platform/pulp-trainlib.git

[submodule "pulp-sdk"]
	path = pulp-sdk
	url = https://github.com/pulp-platform/pulp-sdk.git
